<footer class="page-footer">
  <div class="container">
  <div class="row">
  <div class="col-md-1 col-sm-1 hidden-xs">
  <%= link_to(image_tag('blacklight/rptf-logo.png', class: "img-responsive", alt: "RPTF logo"), 'https://radiopreservation.org/') %>
  </div>
  <div class="col-md-3 col-sm-2 hidden-xs">
  <%= link_to(image_tag('blacklight/arsc-logo.png', class: "img-responsive", alt: "ARSC logo"), 'http://arsc-audio.org/') %>
  </div>
  <div class="col-md-8 col-sm-9 col-xs-12"><p>This database is supported by the <a href="https://radiopreservation.org/">Radio Preservation Task Force, National Recording Preservation Board of the Library of Congress</a> and <a href="http://arsc-audio.org/">ARSC (Association for Recorded Sound Collections)</a>.</p></div>
  </div>
  </div>
  </div>
</footer>
