<% content_for :page_title, 'About the Database' %>
<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= yield(:page_title) %></h2>
</div>

<p>The RPTF/ARSC Collections Database is supported by the <a href="https://www.loc.gov/programs/national-recording-preservation-plan/about-this-program/radio-preservation-task-force/">Radio Preservation Task Force, National Recording Preservation Board of the Library of Congress</a> (RPTF) and <a href="http://arsc-audio.org/">ARSC (Association for Recorded Sound Collections)</a>. This is the first release of this database. It includes information gathered by the RPTF, and the information will be edited and enhanced in the coming weeks and months. We will also be making changes to this site's appearance and functionality based on user feedback. The Task Force is also seeking out additional collections to list in the database.</p>

<p>The Collections Database is built using the open source <a href="http://projectblacklight.org/">Blacklight</a> project, and is managed by the RPTF's Metadata Directors, William Vanden Dries (Indiana University) and Mark Matienzo (Stanford University) If you have comments about the data or search interface please contact <a href="mailto:matienzo@stanford.edu">Mark</a> or <a href="mailto:wvandend@indiana.edu">William</a> by email.</p>

<p>The RPTF is directed by <a href="http://chi.la.psu.edu/people/jus1940">Josh Shepperd</a>, Assistant Professor, Catholic University of America.</p>

<h3>Additional Contributors to the Database</h3>

<ul>
<li>Amanda Keeler (Marquette University)</li>
<li>Neil Verma (Northwestern University)</li>
<li>Emily Goodmann (Clarke University)</li>
<li>Dylan Flesch (KEXP 90.3 FM Seattle)</li>
</ul>

<h3>Interns</h3>
<ul>
  <li>Megan Kane (Clarke University)</li>
  <li>Julia Peres Guimaraes (Northwestern University)</li>
</ul>
