<% content_for :page_title, 'Contribute Information About Collections' %>

<div id="contribute">

  <div class="page-header row">
    <h2 class="col-md-8 page-heading"><%= yield(:page_title) %></h2>
  </div>

  <p>The Radio Preservation Task Force and Association for Recorded Sound Collections are gathering collection-level information for this database. At this time, the project is actively seeking collections with radio recordings and other radio-related materials.</p>

  <p>To submit collection(s) to be listed, please use  <a href="https://goo.gl/forms/KHWID21hzav1KiCx2" target="_blank">this online form</a>. Explanations of the form fields can be found in <a href="https://docs.google.com/document/d/1RLn2nFJfIWhF9gjhv3-Q_GeNx_zNnB1EthGhjCsgqxg/edit">our documentation</a>.</p>

  <p>Please fill out the form separately for each discrete collection. If you have a large number of collections, please contact William Vanden Dries at <a href="mailto:wvandend@indiana.edu">wvandend at indiana.edu</a> to discuss alternate ways to submit your information. Please also note that form submissions will not show up automatically in the database.</p>


</div>
