<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
</div>

<div id="attribution">
  <p>This database of collections was jointly created by the <a href="https://radiopreservation.org/">Radio Preservation Task Force</a> and the <a href="http://arsc-audio.org">Association for Recorded Sound Collections</a>.</p>
</div>

<div id="getting-started">

  <h3 class='section-heading'>Getting started:</h3>

  <p>Use the search box above to search for collections by keyword. You can also just click the Search button without a keyword to browse all the collections.</p>
</div>

<div id="how-to-participate">

  <h3 class='section-heading'>How to participate:</h3>

  <p>To submit collection(s) to be listed, please use <a href="https://goo.gl/forms/KHWID21hzav1KiCx2" target="_blank">this online form</a>.</p>

  <p>Please fill out the form separately for each discrete collection. If you have a large number of collections, please contact William Vanden Dries at wvandend[at]indiana.edu to discuss alternate ways to submit your information.</p>

</div>

<div id="more-to-come">

  <h3 class='section-heading'>More to come:</h3>

  <p>This is the first release of this database. It includes information gathered by the Radio Preservation Task Force. The information will be edited and enhanced in the coming weeks and months. We will also be making changes to this site's appearance and functionality based on user feedback. The task force is also seeking out additional collections to list in the database.</p>

  <p>If you have comments about the data or search interface please contact William Vanden Dries by email at wvandend[at]indiana.edu.</p>

</div>
