
<div class="hero-image jumbotron full-width">
  <div class="col-md-6 hero-text">
  <h2 class="page-heading">Welcome to the Sound Collections Database!</h2>

  <p>This database of sound collections is a project of the Library of Congress <a href="https://www.loc.gov/programs/national-recording-preservation-board/about-this-program/"><abbr title="National Recording Preservation Board">NRPB</abbr></a>, <a href="https://radiopreservation.org/"><abbr title="Radio Preservation Task Force">RPTF</abbr></a>, and <a href="http://arsc-audio.org"><abbr title="Associaton of Recorded Sound Collections">ARSC</abbr></a>.</p>

  <p>Use the search box above to search for collections by keyword. You can also click below to browse everything, or to recommend collections for inclusion.</p>

  <a href="/catalog?search_field=all_fields" class="btn btn-primary" %>Browse <span class="glyphicon glyphicon-arrow-right"></span></a>
  <a href="/contribute" class="btn btn-primary" %>Recommend a collection <span class="glyphicon glyphicon-edit"></span></a>
  </div>
  <div class="col-md-6 vertical-align"><caption>Image: <a href="https://artsandculture.google.com/asset/werd-radio-station/NAGIYZDoGYaZPA">WERD radio station</a>, <a href="https://aaamc.indiana.edu/"><abbr title="Archives of African American Music and Culture">AAAMC</abbr></a></caption></div>
</div>

<div id="attribution">

</div>

<div id="getting-started">



</div>
