<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
</div>

<div id="attribution">
  <p>This database of collections was jointly created by the <a href="https://radiopreservation.org/">Radio Preservation Task Force</a> and the <a href="http://arsc-audio.org">Association for Recorded Sound Collections</a>.</p>
</div>

<div id="getting-started">

  <h3 class='section-heading'>Getting started:</h3>

  <p>Use the search box above to search for collections by keyword. You can also just click the Search button without a keyword to browse all the collections.</p>
</div>
