$primary: rgb(172, 37, 49);
$navbar-height: 50px;

@import 'bootstrap';
@import 'blacklight/blacklight';
.panel-heading.collapse-toggle .panel-title:after { color: inherit; }
.caret, #sort-dropdown .dropdown-toggle .caret, #per_page-dropdown .dropdown-toggle .caret { color: inherit; }
nav.bg-dark.topbar {
  background: $primary !important;
  ul li.nav-item a { color: #eee; }
  ul li.nav-item a:hover { color: #ccc; }
}
